*{
    margin: 0px; //margen
    padding:0px; //margen interno
    font-family: sans-serif, Arial, Helvetica;
    text-decoration: none;
}

/* Fondo degradado para toda la página */
body {
    background-image: linear-gradient(to top, #55d0e7 0%, #9155e7 100%);
    background-size: cover; /* Asegura que el fondo cubra toda la página */
    background-repeat: no-repeat; /* Evita que el fondo se repita */
    background-attachment: fixed; /* Fija el fondo para que no se desplace al hacer scroll */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #333;
    text-align: center;
}

#cabecera {
    display: flex;
    align-items: center; /* Centra verticalmente los elementos */
    justify-content: space-between; /* Coloca los elementos de manera uniforme */
}

#cabecera img {
    height: 50px; /* Ajusta el tamaño de las imágenes según sea necesario */
    margin: 0 10px; /* Espaciado opcional */
}

#cabecera h1{
    font-size: 150%;
    font-family: 'Playfair Display', serif;
    color: #3e403f;
    display: block;
    letter-spacing: 0px;
    font-weight: normal;
    color: black;
    text-align: center;
}

header{
    width: 95%;
    max-width: 1920px;
    heignt: 140px;
    margin: 0px auto;
    padding: 3px 10px;
}
.navegacion ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    height: 40px;
    background: black;
    opacity: 0.6;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    backdrop-filter: blur(3px);
    border-radius: 10px;
}
.navegacion .paginacion li {
  list-style-type: none;
  display: inline-block;
}
.navegacion .paginacion li a {
  position: relative;
  padding: 10px 25px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}
.navegacion .paginacion li a:hover,
.navegacion .paginacion li.active a {
  background: rgba(255, 255, 255, 0.2);
}

/* Estilos para crear un menú desplegable al que, si le pasas el mouse encima al nombre de usuario del usuario
autenticado en la barra de navegación, saldrá el enlace para poder cerrar sesión.

ELIMINÉ la funcionalidad de mostrar u ocultar el boton de Cerrar Sesion al pasar el mouse por encima del nombre de
usuario. Prefiero que el botón de Cerrar Sesión solo aparezca cuando el usuario haga click en su nombre de usuario.
*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    cursor: pointer;
    /*text-decoration: underline; !* Add underline to the username *!*/

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 40px 22px;
}

/* Esto no hace nada. */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Comenté esto para quitar la funcionalidad que hace que el menú desplegable se muestre al pasar el mouse por encima
del nombre de usuario. */
/*.dropdown:hover .dropdown-content {*/
/*    display: block;*/
/*}*/

/* Fin de los estilos para el menú desplegable
*/



