{% extends 'layout/layout3.html' %}

{% block title %}Generar Contrato{% endblock %}

{% block content %}

    {#<!DOCTYPE html>#}
    {#<html>#}
    {#<head>#}
    {#    <title>Generar Contrato</title>#}
    {#</head>#}
    {#<body>#}

    {# Esta es la página con el botón que me permite generar un archivo PDF con el contrato de arrendamiento #}

    <h1>Generar Contrato de Arrendamiento</h1>

    <form method="post">
        {% csrf_token %}
        <label for="ciudad">Ciudad:</label>
        <input type="text" id="ciudad" name="ciudad" value="Ciudad de México" required><br><br>

        <label for="fecha">Fecha:</label>
        <input type="date" id="fecha" name="fecha" required><br><br>

        <label for="tipo_inmueble">Tipo de Inmueble:</label>
        <select id="tipo_inmueble" name="tipo_inmueble">
            {% if contrato.vivienda.detalles_inmueble.tipo == "Casa" %}
                <option value="Casa" selected>Casa</option>
            {% else %}
                <option value="Casa">Casa</option>
            {% endif %}

            {% if contrato.vivienda.detalles_inmueble.tipo == "Departamento" %}
                <option value="Departamento" selected>Departamento</option>
            {% else %}
                <option value="Departamento">Departamento</option>
            {% endif %}

            {% if contrato.vivienda.detalles_inmueble.tipo == "Habitación" %}
                <option value="Habitación" selected>Habitación</option>
            {% else %}
                <option value="Habitación">Habitación</option>
            {% endif %}
        </select><br><br>
        <button type="submit">Generar Contrato</button>
    </form>

    {#</body>#}
    {#</html>#}

{% endblock %}