{% extends 'layout/layout.html' %}

{% block title %}Inicio de Sesión{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/loginstyle.css' %}">

<main>
    <div class="overlay">
        <form action="{% url 'Inicio de Sesion' %}" method="post">
            {% csrf_token %}
            <div class="con">
                <!-- Header -->
                <header class="head-form">
                    <h2>Inicio de Sesión</h2>
                    <p>Ingresa usando tu nombre y contraseña</p>
                </header>
                <br>

                <!-- Mensaje Flash de Error diciendo que insertaste las credenciales incorrectas.  -->
                {% if messages %}

                    <!-- Mensaje de error de que el usuario y/o contraseñas son incorrectos
                    Quiero que el mensaje sea rojo, y que no salgan los puntos de las listas.
                    -->
                    <ul class="messages" style="list-style-type:none">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %} style="color: red">
                                {{ message }}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <!-- Input fields -->
                <div class="field-set">
                    <!-- Username -->
                    <span class="input-item">
                        <i class="fa fa-user-circle"></i>
                    </span>
                    <input class="form-input" id="txt-input" type="text" name="username" placeholder="@Nombre de Usuario" required>
                    <br>

                    <!-- Password -->
                    <span class="input-item">
                        <i class="fa fa-key"></i>
                    </span>
                    <input class="form-input" type="password" placeholder="Contraseña" id="pwd" name="password" required>
                    <span>
                        <i class="fa fa-eye" aria-hidden="true" type="button" id="eye"></i>
                    </span>
                    <br>

                    <!-- Submit button -->
                    <button type="submit" class="log-in">Entrar</button>
                </div>

                <!-- Other options -->
                <div class="other">
                    <button class="btn submits frgt-pass">¿Olvidaste tu contraseña?</button>
                    <a href="{% url 'Registro de Usuario' %}">
                        <button type="button" class="btn submits sign-up">Regístrate <i class="fa fa-user-plus" aria-hidden="true"></i></button>
                    </a>
                </div>
            </div>
        </form>
    </div>
</main>

<script>
    function show() {
        var p = document.getElementById('pwd');
        p.setAttribute('type', 'text');
    }

    function hide() {
        var p = document.getElementById('pwd');
        p.setAttribute('type', 'password');
    }

    var pwShown = 0;

    document.getElementById("eye").addEventListener("click", function () {
        if (pwShown == 0) {
            pwShown = 1;
            show();
        } else {
            pwShown = 0;
            hide();
        }
    }, false);
</script>
{% endblock %}

