{% extends 'layout.html' %}

{% block title %}Registro de Usuario{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/loginstyle.css' %}">

<main>
    <div class="overlay">
        <form id="registerForm" action="{% url 'Registro de Usuario' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="con">
                <!-- Header -->
                <header class="head-form">
                    <h2>Registro de Usuario</h2>
                    <p>Completa el formulario para crear tu cuenta</p>
                </header>
                <br>

                <!-- Input fields -->
                <div class="field-set">
                    <!-- Nombre -->
                    <span class="input-item">
                        <i class="fa fa-user-circle"></i>
                    </span>
                    <input class="form-input" id="new-username" type="text" name="nombre" placeholder="Nombre de Usuario" required>
                    <br>

                    <!-- Contraseña -->
                    <span class="input-item">
                        <i class="fa fa-key"></i>
                    </span>
                    <input class="form-input" type="password" placeholder="Contraseña" id="new-password" name="contraseña" required>
                    <br>

                    <!-- Correo Electrónico -->
                    <span class="input-item">
                        <i class="fa fa-envelope"></i>
                    </span>
                    <input class="form-input" type="email" placeholder="Correo Electrónico" id="email" name="correo" required>
                    <br>

                    <!-- Número de Celular -->
                    <span class="input-item">
                        <i class="fa fa-phone"></i>
                    </span>
                    <input class="form-input" type="tel" placeholder="Número de Celular" id="phone" name="celular" required>
                    <br>

                    <!-- Campo oculto para el rol -->
                    <input type="hidden" name="rol" id="rol" value="">

                    <!-- Botones de selección de rol -->
                    </br>
                    <p>Seleccione su rol:</p>
                    <div class="role-selection">
                        <button type="submit" onclick="setRole('anfitrion')" class="button-link">Soy anfitrión</button>
                        <button type="submit" onclick="setRole('estudiante')" class="button-link">Soy estudiante</button>
                    </div>
                </div>

                <!-- Otras opciones -->
                <div class="other">
                    <p>¿Ya tienes una cuenta? <a href="{% url 'Inicio de Sesion' %}">Iniciar Sesión</a></p>
                </div>
            </div>
        </form>
    </div>
</main>
<script src="{% static 'js/validation.js' %}"></script>

<script>
    // Función para establecer el valor del rol
    function setRole(role) {
        document.getElementById("rol").value = role;
    }
</script>
{% endblock %}
